<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEIC to JPG</title>

    <script src="/js/jquery-3.7.1.slim.min.js"></script>
    <script src="/awesome-notifications/index.var.js"></script>
    <link rel="stylesheet" href="/awesome-notifications/style.css">

    <!-- our project just needs Font Awesome Solid + Brands -->
    <link href="/fontawesome-free-6.5.2-web/css/all.css" rel="stylesheet" />
    <!--noformat-->
    <style>
        :root {
            --main-color: {{ThemeColor}};
        }
    </style>
    <!--noformat-->
    <style>
        input {
            margin: 15px 10px !important;
        }

        .dropzone {
            padding: 50px;
            border: 2px dashed var(--main-color);
            ;
        }

        .dropzone.is-dragover {
            background-color: #e6ecef;
        }

        .dragover {
            bg-color: red;
        }

        body,
        html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            font-family: 'Courier New', Courier, monospace;
        }

        .header {
            margin: 0;
            padding: 0;
            width: 100%;
            background: var(--main-color);
        }

        .header h1 {
            color: #fff;
            margin: 0;
            padding: 8px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .content {
            padding: 20px;
        }

        .footer {
            margin: 0;
            background: var(--main-color);
            color: #fff;
            text-align: center;
            font-family: Arial,
                Helvetica,
                sans-serif;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 12px;
            padding: 5px;
        }
    </style>
</head>

<body>

    <div class="header">
        <h1>HEIC to JPG Converter</h1>
    </div>

    <div class="content">
        {{#if Data.NotHEIC}}
        <script>
            let notifier = new AWN();
            let onOk = () => { };
            notifier.confirm(
                'Please try again with a HEIC file',
                onOk,
                false,
                {
                    labels: {
                        confirm: 'Invalid File Type'
                    }
                }
            )
        </script>
        {{/if}}
        <p>
            <b>How to use</b>
        </p>
        <p>
            Drag and drop a HEIC file into the box below. The converted JPG will automatically download.
        </p>
    </div>

    <form action="" method="post" enctype="multipart/form-data" id="fileForm" style="display: none;">
        file: <input type="file" name="file" id="fileInput">
        <input type="submit">
    </form>

    <div class="" draggable='true' style='padding: 20px'>
        <div id='dropzone' class='dropzone'>
            Drop HEIC file here
        </div>
    </div>

    <script>
        var dropzone = $('#dropzone');

        dropzone.on('drag dragstart dragend dragover dragenter dragleave drop', function (e) {
            e.preventDefault();
            e.stopPropagation();
        })

        dropzone.on('dragover dragenter', function () {
            $(this).addClass('is-dragover');
        })
        dropzone.on('dragleave dragend drop', function () {
            $(this).removeClass('is-dragover');
        })

        dropzone.on('drop', function (e) {
            var files = e.originalEvent.dataTransfer.files;
            // Now select your file upload field 
            $('#fileInput').prop('files', files)
            $('#fileForm').submit();
            //alert('File converted');
            let notifier = new AWN();
            notifier.info('File has been submitted and should download shortly');
        });
    </script>

    <div class="footer">Copyright &copy; {{YearNow}} Hunter Klein - v{{Version}}</div>
</body>

</html>